<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SmaryStreetsAuthToken" value="o8cT4WrItIkuK3XSfpRA"/>
    <add key="SmaryStreetsAuthId" value="1c9a272e-d0c0-4a59-baea-2413efcbdc8d"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>